* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clr {
  clear: both;
}

ol {
  list-style: none;
}

li {
  float: left;
  margin-bottom: 10px;
}
